html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --backColor: #232323;
  --typeSpeed: 3s;
  --typeLength: 24;
  --textColor: #eeeeee;
  --subColor: #02ffab;
  background-color: var(--backColor);
}

.startpage-holder{
  background-color: var(--backColor);
  max-width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;

}


.typew-holder {
  grid-area: typew;
  display: grid;
  place-content: center;
  text-align: center;
  height: 100vh;
}


.typew-text {
  color: var(--textColor);
  position: relative;
  font-family: "JetBrains Mono", monospace;
  font-size: 6vw;
  
}
.typew-text::before,
.typew-text::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1vw;
  background: var(--subColor);
}

.typew-text::after{
  background: var(--subColor);
  width: 1em;
  animation: type var(--typeSpeed) steps(var(--typeLength)) 0.5s forwards,
  blink 1s step-start calc(var(--typeSpeed) + 1s) infinite;
}

.typew-text::before{
  background: var(--backColor);
  animation: type var(--typeSpeed) steps(var(--typeLength)) 0.5s forwards; 
}

.name{
  color: var(--subColor);
}

.typew-subtitle {
  color: var(--textColor);
  font-size: 5vw;
  opacity: 0;
  transform: translateY(3rem);
  animation: fade 2s ease calc(var(--typeSpeed) + 1s) forwards;
}

.information{
  display: flex;

}

.infoBox{
}

.info{
  color: var(--textColor);
  font-size: 2vw;

}
.infoHead{
  color: var(--subColor);
  font-size: 3vw;
}
@keyframes type {
  to {left: 100%;}
  
}

@keyframes blink {
  50% {
      opacity: 0.0;
  }

}

@keyframes fade {
  to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media screen and (max-width: 650px) {
  .startpage-holder{
      max-height: 95vh;
  }
  
}

@media screen and (min-width: 650px) {
  .typew-text{
  font-size: 4vw;
  }

  .explore-text{
      font-size: 2vw;
  }

  .typew-text::after{
      width: 0.6em;
  }

  .typew-subtitle{
      font-size: 2vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--backColor);
  border-radius: 10px;
  display: flex;
  align-self: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--textColor);
  max-height: 10vh;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--subColor);
  
}

.icon {
  cursor: pointer
}

.icon:hover{
  color: var(--subColor);
}